body{
    background-color: #011F3F;
    text-align: center;
}


.container{
    display: block;
    width: 50%;
    margin: auto;
}

#title{
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin: 5%;
    color: #FEF2BF;
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }

.box{
    margin: 25px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    background-color: blue;
}



.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }